// interview dashboard page

.Login_Wrapper {
  background-image: url(../../assets/img/images/Login_bg_Image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  ::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(11 11 9 / 15%);
    z-index: -1;
  }

  label {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: transparent !important;
      z-index: -1;
    }
  }
}

.login_btn {
  ::before {
    content: "";
    background: transparent !important;
    z-index: -1;
  }
}

.truncateCard {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.int_dashb_wrapper {
  .comp_heading {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .greeting {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  .info_card {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    .icon {
      width: 50px;
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid white;
      box-shadow:
        rgba(66, 66, 66, 0.05) 0px 6px 24px 0px,
        rgba(47, 47, 47, 0.08) 0px 0px 0px 1px;
      .material-symbols-rounded {
        font-variation-settings:
          "FILL" 0,
          "wght" 300,
          "GRAD" 0,
          "opsz" 24;
      }
    }
    p {
      font-weight: 500;
      color: gray;
    }
    h2 {
      font-size: 1.3rem;
      font-weight: 600;
      text-align: left;
    }
  }
  .info_card1 {
    .icon {
      background-color: #0062ff4b;
      .material-symbols-rounded {
        color: #0062ff;
      }
    }
  }
  .info_card2 {
    .icon {
      background-color: #15ff004b;
      .material-symbols-rounded {
        color: #009e3a;
      }
    }
  }
  .info_card3 {
    .icon {
      background-color: #ff3c004b;
      .material-symbols-rounded {
        color: #ff3300;
      }
    }
  }
  .info_card4 {
    .icon {
      background-color: #fffb004b;
      .material-symbols-rounded {
        color: rgb(162, 162, 0);
      }
    }
  }
  .timeline_wrapper {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    .react-calendar-timeline {
      border-radius: 0.5rem;
      overflow: hidden;
      .rct-header-root {
        background: #006fee;
      }
    }
  }
  .rct-item-content {
    border: 1px deepskyblue !important;
  }
  .react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
  .react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
    border-bottom: none !important;
    height: 40px !important;
  }
  .react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
    background-color: #ffffff !important;
  }
  .react-calendar-timeline .rct-outer {
    height: unset !important;
    overflow-y: scroll !important;
  }
  .react-calendar-timeline .rct-sidebar {
    height: unset !important;
  }
  .react-calendar-timeline .rct-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    // height: unset !important;
  }
  .react-calendar-timeline .rct-dateHeader {
    border: none !important;
  }
  .react-calendar-timeline .rct-sidebar .rct-sidebar-row {
    border-bottom: none !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  .react-calendar-timeline .rct-header .rct-label {
    border-bottom: none !important;
  }
  .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
    border-color: #ccc !important;
  }
  .react-calendar-timeline .rct-vertical-lines .rct-vl {
    border-left: 1px solid #eeeeee87 !important;
  }
  .react-calendar-timeline .rct-header .rct-label-group {
    font-family: "Work Sans", sans-serif !important;
    background: #eee !important;
    color: #000;
    font-size: 1rem;
  }
  .react-calendar-timeline .rct-sidebar-header {
    background: #eee;
    color: #000;
    text-align: center;
    padding-top: 1rem;
    border: none;
    border-right: solid 2px #ccc !important;
  }
  .prev_interviews {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    .rec_card {
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      border: 1px solid rgb(230, 230, 230);
      transition: 0.2s;
      &:hover {
        border: 1px solid white;
        box-shadow: rgba(149, 157, 165, 0.321) 0px 8px 24px;
      }
      .icon {
        width: 40px;
        height: 40px;
        background-color: #007bff;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .material-symbols-rounded {
          color: white;
          font-variation-settings:
            "FILL" 1,
            "wght" 400,
            "GRAD" 0,
            "opsz" 24;
        }
      }
      h5 {
        font-weight: 500;
      }
      .topic {
        font-size: 0.8rem;
        color: rgb(155, 155, 155);
      }
      p {
        font-size: 0.9rem;
        color: rgb(85, 85, 85);
        display: flex;
        align-items: center;
        span {
          font-size: 0.95rem;
        }
      }
    }
  }
  .tabs_wrapper {
    .tab_header {
      display: flex;
      gap: 15px;
      .date_picker {
        [data-slot="input-wrapper"] {
          background: white !important;
        }
      }
    }
    .table_wrapper {
      margin-top: 30px;
      table {
        td,
        tr {
          text-wrap: nowrap !important;
        }
      }
    }
  }
}

.custom-badge {
  background: #aef6b9ab;
  border-radius: 8px;
  font-size: 0.8rem;
  color: #00b500;
  padding: 2px 10px;
  cursor: pointer;
}
//user info page
.User_info_wrapper {
  .details_wrapper {
    width: 100%;
    // max-width: calc(100% - 290px);
    .profile_area {
      &.interview {
        .user_avatar {
          width: 150px;
          height: 150px;
          overflow: hidden;
          // margin: 0 auto;
          // border-radius: 50%;
          border: 2px solid white;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .details_card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        row-gap: 1.5rem;
        .avatar {
          width: 80px;
          min-width: 80px;
          height: 80px;
          overflow: hidden;
          // margin: 0 auto;
          // border-radius: 50%;
          border: 2px solid white;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .heading {
          font-size: 0.8rem;
          color: rgb(177, 177, 177);
        }
        .data {
          font-weight: 500;
        }
        .marks_form {
          .custom_input {
            position: relative;
            margin-bottom: 15px;
            overflow: hidden;
            .custom_intput_number {
              position: absolute;
              top: 0;
              right: 0;
              button {
                display: block;
              }
            }
          }
        }
        .chip_wrapper {
          display: flex;
          gap: 10px;
          margin-bottom: 15px;
          &.grade {
            .chip {
              font-size: 0.8rem;
              background-color: #d9eafc;
              border: 0;
              padding: 0.4rem 0.8rem;
              border-radius: 1rem;
              font-weight: 500;
              color: #343845;
            }
          }
          .chip {
            font-size: 0.8rem;
            border: 1px solid #006fee;
            padding: 0.4rem 0.8rem;
            border-radius: 5px;
            font-weight: 500;
            color: #343845;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.document_verification_wrapper {
  position: relative;
  .screening-detail-footer {
    padding: 20px;
    border-bottom: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

.searchable_infinite_scroll_select {
  position: relative;
  .custom-list-container {
    margin-top: 10px;
    background-color: #fff;
    .custom-list {
      max-height: 200px;
      overflow-y: auto;
      .custom-list-item {
        padding: 4px 10px;
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: 500;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        &:hover {
          background: #aaaaaa33;
        }
        .icon {
          font-size: 1rem;
        }
      }
    }
  }
}
